@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-image: linear-gradient(-300deg, rgba(90, 192, 185, 0.376),#9abfbd );
    background-attachment: fixed;
}
header{
    max-width: 635px;
    min-height: 80px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 55px auto auto auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.269),-1px -1px 6px rgba(0, 0, 0, 0.264);
}
header h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    padding-top: 10.5px;
}
div{
    max-width: 384px;
    min-height: 53px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
    margin: 50px auto auto auto;
    transition-duration: 0.5s;
}
div h3{
    color: black;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}
a#bernoulli{
    text-decoration: none;
    color: black;
}
div:hover{
    background-color: #9ABFBD;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.269),-1px -1px 6px rgba(0, 0, 0, 0.264);
}
main{
    max-width: 884px;
    min-height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    margin: 50px auto auto auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.269),-1px -1px 6px rgba(0, 0, 0, 0.264);
}
main h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
li{
    list-style-type: none;
    padding: 30px;
    background-image: linear-gradient(to bottom, #5AA6BF,#254B7A);
    margin-top: 30px;
    border-radius: 8px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
    transition-duration: 0.5s;
}
ul{
    columns: 2;
}
a.livros{
    color: white;
    text-decoration: none;
}

li.person{
    position: relative;
    top: 7.88%;
    margin-right: 30px;
}
li.person1{
    margin-right: 30px;
}
li:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.269),-1px -1px 6px rgba(0, 0, 0, 0.264);
    color: black;
    background-image: linear-gradient(to bottom, #9ABFBD,#aec0bf );
}
footer{
    background-image: linear-gradient(to bottom, #5AA6BF,#254B7A);
    max-width: 274px;
    min-height: 38px;
    margin: 60px auto auto auto;
    border-radius: 8px;
    border: 1px solid black;
    color: white;
    transition-duration: 0.5s;
}
a#back{
    text-decoration: none;
    color: black;
}
footer p{
    text-align: center;
    padding: 2px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
}
footer:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.269),-1px -1px 6px rgba(0, 0, 0, 0.264);
    color: black;
    background-image: linear-gradient(to bottom, #9ABFBD,#aec0bf );
}
